*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  /* welcome */
  
  .container-fluid a{
  font-family:Impact, fantasy;
  font-weight: 500;
  font-style: bold;
  }
  
  .d-flex {
       display: inline-block;
       text-align: center;
       align-items: center;
  }
  .navbar{
      background: white;
  }
  
  .container{
      margin-top: 10px;
      margin-bottom: 20px;
  }
  
  .carousel-inner{
      width:100%;
      max-height: 300px;
    }
  .carousel-inner img{
      object-fit: cover;
      height: 300px;
    }
   
    .card:hover .overlay{
      opacity: 1;
      position:absolute;
       width: 100%;
       height: 100%; 
     
       background: rgba(0, 0, 0, 0.5);
       z-index: 1; 
       transition: .5s ease;
       cursor: pointer;
     }
  
  
  
  /* book */
  
  .container-book{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .input[type=checkbox]{
    background-color: #444451;
    height: 20px;
    width: 15px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  } 
  
  /* 
  input[type=checkbox] {
    display: block;
    }
  
  .checkbox label:before {
      border-radius: 3px;
      background-color: #444451;
      height: 20px;
      width: 15px;
      margin:3px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
  }
  
  input[type=checkbox]:checked {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    } */
  
  .seat{
    background-color: #444451;
    height: 20px;
    width: 15px;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  }
  .seat-number{
    text-align:center;
    color: white;
    margin-inline-start: -5px
  }
  
  .row{
    display: flex;
  }
  
  .seat.selected{
    background-color: red;
  }
  
  .selected{
    background-color: red;
  }
  
  .seat.occupied{
    background-color:blueviolet;
  }
  
  /* #place td{
    border:none;
  } */
  /* table{
    width: 100%;
  }
  tr,td{
    padding: 5px;
    border:none;
  } */

  .update{
    box-shadow:1px 10px 10px 10px;
	width: 700px;
    margin-left: 350px; 
    height:auto;
    background-color: #444451;
    margin-bottom: 50px; 
    margin-top: 100px;
}
label{
  font-size: 20px;
  margin-left: 200px;
  color:lightgoldenrodyellow;
  line-height: 30px;
}

.update input{
  text-align: center;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.button{
  background-color: black; 
  border: none;
  color: white;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  margin-left: 300px;
  margin-bottom: 20px;
}

/*     About movie        */

.wrapper{
  
  width: 100%;
  margin-top: 3px;
  -webkit-box-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgb(34, 34, 34);
  position: relative;
  opacity: 0.9;
}


.wrapper img{
  
}
/*      Comment and book button    */

#btnbook{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none; 
  color:inherit;
  font-size: 16px;
}
  